Options -Indexes -MultiViews

RewriteEngine On
RewriteRule ^playlist/([a-z-0-9]+)/?$ game.php?playlist_slug=$1 [QSA,L,NC]
RewriteRule ^music/?$ music.php [QSA,L,NC]
RewriteRule ^list/?$ list.php [QSA,L,NC]
RewriteRule ^desafio-diario/?$ game.php [QSA,L,NC]
RewriteRule ^playlists/?$ playlists.php [QSA,L,NC]
RewriteRule ^404/?$ 404.php [QSA,L,NC]
RewriteRule ^(commands|data|functions)(/|$) - [F,L]
ErrorDocument 404 /404