Options -Indexes -MultiViews

RewriteEngine On
RewriteRule ^playlist/([0-9]+)/?$ game.php?playlist_id=$1 [QSA,L,NC]
RewriteRule ^music/?$ music.php [QSA,L,NC]
RewriteRule ^list/?$ list.php [QSA,L,NC]
RewriteRule ^daily/?$ game.php [QSA,L,NC]
RewriteRule ^(commands|data|functions)(/|$) - [F,L]