body {
    display: flex;
    min-height: 100dvh;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}

input::placeholder {
    color: #f1f1f1 !important;
}

.guesses {
    display: flex;
    flex-flow: column;
    gap: 0.625rem;
}

.guess {
    border: 1px solid dimgray;
    height: 2.95rem;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: var(--bs-border-radius-xl);
    font-size: 1rem;
    flex-direction: row;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
}

.fa-ul li {
    font-size: 1.0625rem;
    padding: 7px 0;
}

.img-cover {
    margin-inline: auto;
    display: block;
    max-width: 300px;
}

.btn-play {
    font-size: 1.8rem;
    padding: 0;
    margin: 1.25rem 0;
    outline: none;
    border: none;
}

.btn-play:focus,
.btn-play:active {
    outline: none;
    border: none;
}

.options-box {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    text-align: left;
    z-index: 5;
    border-radius: var(--bs-border-radius-xl);
    overflow: hidden;
    border: 1px solid var(--bs-primary);
    background: transparent;
    backdrop-filter: blur(5px);
}

.controls .form-control,
.controls .btn {
    font-size: 1.0625rem;
}

.options-box .option {
    cursor: pointer;
    padding: 15px;
    font-size: 0.9375rem;
}

.options-box .option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-help {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.25rem;
}

.volume {
    position: absolute;
    left: 0;
    top: 0;
}

.volume .btn {
    font-size: 1.25rem;
}

.modal-sm {
    max-width: 300px;
    margin: auto;
}

.btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

@keyframes headShake {
    0% {
        transform: translateX(0);
    }

    6.5% {
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        transform: translateX(0);
    }
}

.shake {
    animation-timing-function: ease-in-out;
    animation-name: headShake;
    animation-duration: 1s;
}

.btn-favorite {
    appearance: none;
    border: none;
    outline: none;
    color: dimgray;
    position: absolute;
    top: 7px;
    right: 7px;
    opacity: 0;
    z-index: 1;
    background: #fafafa;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
    font-size: 1.1rem;
}

.base-item:hover .btn-favorite {
    opacity: 0.8;
}

.btn-favorite:hover {
    opacity: 1;
    background: #e5e5e5;
    color: black;
}

.btn-favorite.active i {
    font-weight: 700 !important;
    color: #f43f5e;
}

.audio-playing {
    background-image: url('audio.gif');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 2.1875rem;
    width: 2.1875rem;
    background-position: center;
    vertical-align: middle;
}
